<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <connectionStrings>
    <add name="SmartPayEntities" connectionString="metadata=res://*/BibliotecasEDM.csdl|res://*/BibliotecasEDM.ssdl|res://*/BibliotecasEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SmartPay;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SmartPayEntities1" connectionString="metadata=res://*/BibliotecasEDM.csdl|res://*/BibliotecasEDM.ssdl|res://*/BibliotecasEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-C6DLU64R\SQLEXPRESS;initial catalog=SmartPay;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SmartPayEntities2" connectionString="metadata=res://*/BibliotecasEDM.csdl|res://*/BibliotecasEDM.ssdl|res://*/BibliotecasEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-C6DLU64R\SQLEXPRESS;initial catalog=SmartPay;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
</configuration>